<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penumonia Detector</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>
        Pneumonia <span>Detection</span> using <span>Deep Learning</span>
    </h1>
    <div class="container2">
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <div class="forms">
            <h2>Change Password</h2>
            <form action="/change_password" method="POST">
                <input type="password" class="pwd" id="old_password" name="old_password" placeholder="old password" required>
                <input type="password" class="pwd" id="new_password" name="new_password" placeholder="new password" required>
                <input type="password" class="pwd" id="confirm_password" name="confirm_password" placeholder="confirm password" required>
                <p>
                    <input type="checkbox" id="showPassword" onclick="toggle()">
                    <strong>Show Password </strong>
                </p>
                <input type="submit" value="Submit">
                <p>Return to home page <a href="/index">Return</a></p>
            </form>
        </div>
    </div>
    <script>
        function toggle() {
            let pwdFields = document.querySelectorAll('.pwd');
            let checkbox = document.getElementById('showPassword');
    
            pwdFields.forEach(function(field) {
                if (checkbox.checked) {
                    field.type = 'text';
                } else {
                    field.type = 'password';
                }
            });
        }
    </script>
</body>
</html>